* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
    color: #444
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsl(225, 100%, 94%);
}

.main-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -0;
    width: 100%;

}

.box {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 610px;
    border-radius: 14px;
    background: #fff;

}
.illustration-img {
    width: 100%;
    border-radius: 14px 14px 0 0;
}
.text {
    display: flex;
    flex-direction: column;
}
.text h3 {
    font-size: 22px;
    color: #222;
    padding: 12px;
    padding-top: 32px;
    align-self: center;
    font-weight: 900;
}
.text p {
    font-size: 16px;
    color: #676767;
    font-weight: 500;
    text-align: center;
    width: 280px;
    height: 80px;
    padding-left: 2px;
}
.plan {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    width: 320px;
    padding: 18px 16px;
    background-color: #f4f4fc;
    border-radius: 16px;
    margin-bottom: 19px;
}

.plan .an-plan-img {
    display: flex;
    align-items: center;
}
.plan .an-plan p{
    display: inline-block;
    margin-left: 8px;
    font-size: 15px;
    color: #777
}
.plan .an-plan h4 {
    color: #222;
    display: inline-block;
    font-weight: 800;
    font-size: 1rem;
}
.plan a {
    font-size: 16px;
    padding-top: 16px;
    color: blue;
    transition: 200ms;
    font-weight: 600;
}
.plan a:hover {
    color: rgb(0, 110, 255);
    text-decoration: none;
}
.plan a:active {
    color: hsl(223, 47%, 23%);
}
.order-options {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}
.order-options button {
    width: 340px;
    height: 56px;
    margin-top: 10px;
    border: none;
    box-shadow: 0.4px 0.4px 3px #ffffff;
    padding: 14px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 200ms ease;
}
.order-options .payment-btn {
    background-color:  hsl(223, 47%, 23%);
    color: white;
    transition: 200ms;
}
.order-options .payment-btn:hover {
    background-color: hsla(223, 47%, 23%, 0.9);
    color: white;
}
.order-options .payment-btn:active {
    background-color: #fff;
    color:  hsl(223, 48%, 35%);
}
.order-options .cancel-btn {
    background-color: inherit;
    color: #444;
}
.order-options .cancel-btn:hover {
    background-color: inherit;
    color: #000000;
    box-shadow: 0.4px 0.4px 3px #cecece;
}
.order-options .cancel-btn:active {
    background-color: inherit;
    color: hsl(223, 46%, 30%);
}